<section class="wrapper">
	<div class="inner">
		<h2 class="major">Add New Account</h2>

		<form method="post">
			<br/>
			
			<div class="field">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" required>
			</div>
			
			<div class="field">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required>
			</div>
			
			<div class="field">
				<label for="confirm-password">Confirm Password</label>
				<input type="password" name="confirm-password" id="confirm-password" required>
			</div>
			
			<div class="field">
				<label for="firstname">First Name</label>
				<input type="text" name="firstname">
			</div>
			
			<div class="field">
				<label for="lastname">Last Name</label>
				<input type="text" name="lastname">
			</div>
			
			<div class="field">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" required>
			</div>
			
			<div class="field">
				<label for="admin_flag">Administrator user</label>
				<input type="text" name="admin_flag" id="admin_flag" required>
			</div>
			
			<div class="actions">
				<input type="submit" name="insert">
			</div>
		</form>
	</div>
</section>