<section class="wrapper">
	<div class="inner">
		<h2 class="major">New Admin Account</h2>

		{{#if message}}
			<div>{{ message }}</div>
		{{/if}}

		<form method="post">
		<br/>
			<div class="field">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" required />
			</div>
			<div class="field">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required />
			</div>
			<div class="field">
				<label for="confirm-password">Confirm Password</label>
				<input type="password" name="confirm-password" id="confirm-password" required />
			</div>
			<div class="field">
				<label for="firstname">First Name</label>
				<input type="text" name="firstname" />
			</div>
			<div class="field">
				<label for="lastname">Last Name</label>
				<input type="text" name="lastname" />
			</div>
			<div class="field">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" required />
			</div>
			<ul class="actions">
				<li><input class="special" type="submit" name="insert-admin" /></li>
				<li><a href="/admin" class="button login-button">Cancel</a></li>
			</ul>
		</form>
	</div>
</section>
