<!DOCTYPE html>
<html>
<body>

<h2>Create new award</h2>
<p>Enter information about award recipient, type, and award presenter to create a new award</p>
<p>For demonstration purposes, an award will be returned to the user's browser; PDF emailing will come later.</p>

<div id="awardspot">
    <form action="/new_award" method="POST">
        <fieldset>
            <div id="receiverdropDown">
            <label>Award recipient:</label>
            <select id="areceiver">
            <option value="" disabled selected>Select</option>
            </select></div>
            <div id="typedropDown">
            <label>Award type:</label>
            <select id="alist">
            <option value="" disabled selected>Select</option>
            </select></div>
            <label>Award message:</label>
            <input type="text" name="amessage" id="amessage"><br>
            <input type="submit" value="Submit award" id="awardButton">

        </fieldset>
    </form>
</div>
<br>
<div id="awardResult"></div>

<script src="./js/createaward.js"></script>
</body>
</html>
