<!-- Wrapper -->
<section id="wrapper">
  <!-- Registration -->
  <section id="register" class="wrapper">
    <div class="inner">
      <h2 class="major">Create New Award</h2>
      <p>Enter information about award recipient, type, and award presenter to create a new award</p>
      <p>For demonstration purposes, an award will be returned to the user's browser; PDF emailing will come later.</p>
      <div id="awardspot">
        <form action="/new_award" method="POST">
          <fieldset>
            <label>Award giver:</label>
            <input type="text" name="agiver" id="agiver"><br>
            <label>Award receiver:</label>
            <input type="text" name="areceiver" id="areceiver"><br>
            <label>Recipient email:</label>
            <input type="text" name="aemail" id="aemail"><br>
            <label>Award title:</label>
            <input type="text" name="atitle" id="atitle"><br>
            <label>Award message:</label>
            <input type="text" name="amessage" id="amessage"><br>
            <label>Award date:</label>
            <input type="text" name="adate" id="adate"><br>
            <div id="dropDown">
            <label>Award type:</label>
              <select id="alist">
              <option value="" disabled selected>Select</option>
              </select>
            </div>
            <input type="submit" value="Submit award" id="awardButton">
          </fieldset>
        </form>
      </div>
      <br>
      <div id="awardResult"></div>
    </div>
  </section>
</section>

<script src="./js/createaward.js"></script>
