<!-- Page Wrapper -->
<section id="wrapper">
	<!-- Content Placeholder -->
	<div id = "content">
	<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<div class="logo"><span class="icon fa-street-view"></span></div>
				<h2>Octans Employee Recognition</h2>
			  <p>Where a little thanks goes a long ways</p>
			  <ul class="actions">
			    <li><a href="/login" class="button login-button">Log In</a></li>
			    <li><a href="/signup" class="button special signup-button">Sign Up</a></li>
			  </ul>
			</div>
		</section>
	</div>
</section>
