<!-- Wrapper -->
<section id="wrapper">
  <!-- Login -->
    <section id="login" class="wrapper">
      <div class="inner">
        <h2 class="major">Login to your account</h2>

        {{#if message}}
          <div>{{ message }}</div>
        {{/if}}

        <form method="post" action="/login">
          <div class="field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required/>
          </div>
          <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required/>
          </div>
          <ul class="actions">
            <li><input class="special" type="submit" value="Log In" /></li>
            <li><a href="/forgot" class="button">Forgot Password?</a></li>
            <li><a href="/signup" class="button signup-button">Need to create an account?</a></li>
          </ul>
        </form>

      </div>
    </section>
</section>
