<!-- Wrapper -->
<section id="wrapper">
  <!-- Login -->
    <section id="login" class="wrapper">
      <div class="inner">
        <h2 class="major">Login to your account</h2>
        <form method="post" action="/login">
          <div class="field">
            <label for="email">Email</label>
            <input type="email" name="username" id="username" required/>
          </div>
          <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required/>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Log In" /></li>
            <li><a href="/signup" class="button special signup-button">Need to create an account?</a></li>
          </ul>
        </form>
      </div>
    </section>
</section>
