<!-- Wrapper -->
<section id="wrapper">
  <!-- Registration -->
    <section id="register" class="wrapper">
      <div class="inner">
        <h2 class="major">Create your account</h2>
        <p>Start recogonizing your coworkers for their contributions now! We just need a few details from you.</p>
        <form id="register" method="post" action="/signup">
          <div class="field">
            <label for="email">Email</label>
            <input type="email" name="username" id="username" required />
          </div>
          <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
          </div>
          <div class="field">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" required />
          </div>
          <div class="field">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" />
          </div>
          <div class="field">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" />
          </div>
          <ul class="actions">
            <li><input type="submit" value="Complete Registration" /></li>
            <li><a href="/login" class="button special login-button">Already have an account?</a></li>
          </ul>
        </form>
      </div>
    </section>
</section>
