.signature {
  background-color: white;
}

.signature-footer {
  position: relative;
  left: 10px;
  bottom: 45px;
  height: 100px;
}

#title {
	margin: 20px;
}

.inside {
	margin: 10px 20px 10px 20px;
}

.report_btn {
	opacity: 1.0 !important;
	margin-right: 20px;
	cursor: default;
}

